



.msCalendar .react-datepicker {
        background-color: red !important;
 }
      
.msCalendar :first-child :first-child {
    background: #F8F8F8;
 }
      
     
 /* .msCalendar  .react-datepicker__day--selecte{
    background: #F5BB00;
 }
 .msCalendar .react-datepicker__day--in-range {
    background: #FFF0C5;
 } */
     

 .msCalendar .react-datepicker__day--in-range {
    background: #FFF0C5;
 }
