@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

button,
span,
div
{
  font-family: "IRANSansMobile" !important;
}
body {
  font-family: "IRANSansMobile" !important;
  direction: rtl
  /* color: rgb(var(--foreground-rgb)); */
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    ) */
    /* rgb(var(--background-start-rgb)); */
}

@layer components {
  .ms-center {
    @apply flex justify-center align-middle;
  } 
}


/* ------------------------------------------------------old */
/* @font-face {
  font-family: 'IRANSans';
  font-weight: 700;
  font-style: normal;
  src: url('../../public/fonts/IRANSansWeb//IRANSansWeb.ttf') format('opentype');
}
@font-face {
  font-family: 'IRANSan';
  font-weight: 700;
  font-style: normal;
  src: url('../../public/fonts/IRANSansWeb/IRANSansWeb_Bold.woff')
    format('opentype');
}
 */

/* ------------------------------------------------------new */
@font-face {
  font-family: 'IRANSansMobile';
  font-weight: 'black';
  font-style: normal;
  src: local('IRANSansMobile'), url('/static/fonts/MobileFonts/IRANSansMobile(FaNum)_Black.ttf') format('truetype');
} 

@font-face {
  font-family: 'IRANSansMobile';
  font-weight: 'bold';
  font-style: normal;
  src: local('IRANSansMobile'), url('/static/fonts/MobileFonts/IRANSansMobile(FaNum)_Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'IRANSansMobile';
  font-weight: 'medium';
  font-style: normal;
  src: local('IRANSansMobile'), url('/static/fonts/MobileFonts/IRANSansMobile(FaNum)_Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'IRANSansMobile';
  font-weight: 'regular';
  font-style: normal;
  src: local('IRANSansMobile'), url('/static/fonts/MobileFonts/IRANSansMobile(FaNum).ttf') format('truetype');
}

@font-face {
  font-family: 'IRANSansMobile';
  font-weight: 'light';
  font-style: normal;
  src: local('IRANSansMobile'), url('/static/fonts/MobileFonts/IRANSansMobile(FaNum)_Light.ttf') format('truetype');
}

@font-face {
  font-family: 'IRANSansMobile';
  font-weight: 'UltraLight';
  font-style: normal;
  src: local('IRANSansMobile'), url('/static/fonts/MobileFonts/IRANSansMobile(FaNum)_UltraLight.ttf') format('truetype');
}
