@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

button,
span,
label,
h1,
h2,
h3,
h4,
h5,
h6,
div {
  font-family: 'IRANSansMobile' !important;
}
body {
  font-family: 'IRANSansMobile' !important;
  direction: rtl;
  /* color: rgb(var(--foreground-rgb)); */
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    ) */
  /* rgb(var(--background-start-rgb)); */
}

@layer components {
  .ms-center {
    @apply flex justify-center align-middle;
  }
}
@layer utilities {
  .ltr {
    direction: ltr;
  }
}
.ms-max-w {
  max-width: 576px !important;
}
.MuiTypography-root {
  font-family: 'IRANSansMobile';
}
/* ------------------------------------------------------old */
/* @font-face {
  font-family: 'IRANSans';
  font-weight: 700;
  font-style: normal;
  src: url('../../public/fonts/IRANSansWeb//IRANSansWeb.ttf') format('opentype');
}
@font-face {
  font-family: 'IRANSan';
  font-weight: 700;
  font-style: normal;
  src: url('../../public/fonts/IRANSansWeb/IRANSansWeb_Bold.woff')
    format('opentype');
}
 */

/* ------------------------------------------------------new */
@font-face {
  font-family: 'IRANSansMobile';
  font-weight: 'black';
  font-style: normal;
  src:
    local('IRANSansMobile'),
    url('/static/fonts/MobileFonts/IRANSansMobile(FaNum)_Black.ttf')
      format('truetype');
}

@font-face {
  font-family: 'IRANSansMobile';
  font-weight: 'bold';
  font-style: normal;
  src:
    local('IRANSansMobile'),
    url('/static/fonts/MobileFonts/IRANSansMobile(FaNum)_Bold.ttf')
      format('truetype');
}

@font-face {
  font-family: 'IRANSansMobile';
  font-weight: 'medium';
  font-style: normal;
  src:
    local('IRANSansMobile'),
    url('/static/fonts/MobileFonts/IRANSansMobile(FaNum)_Medium.ttf')
      format('truetype');
}

@font-face {
  font-family: 'IRANSansMobile';
  font-weight: 'regular';
  font-style: normal;
  src:
    local('IRANSansMobile'),
    url('/static/fonts/MobileFonts/IRANSansMobile(FaNum).ttf')
      format('truetype');
}

@font-face {
  font-family: 'IRANSansMobile';
  font-weight: 'light';
  font-style: normal;
  src:
    local('IRANSansMobile'),
    url('/static/fonts/MobileFonts/IRANSansMobile(FaNum)_Light.ttf')
      format('truetype');
}

@font-face {
  font-family: 'IRANSansMobile';
  font-weight: 'UltraLight';
  font-style: normal;
  src:
    local('IRANSansMobile'),
    url('/static/fonts/MobileFonts/IRANSansMobile(FaNum)_UltraLight.ttf')
      format('truetype');
}

/* ------------------------------------------------------new */
@font-face {
  font-family: 'IRANSansWebXPro';
  font-weight: 'Medium';
  font-style: normal;
  src: local('IRANSansWebXPro'),
    url('/static/fonts/IRANSansXPro/IRANSansXFaNum-Regular.ttf');
}

/* ------------------------------------------------------new */
@font-face {
  font-family: 'DanaMobile';
  font-weight: 'black';
  font-style: normal;
  src:
    local('DanaMobile'),
    url('/static/fonts/Dand/dana-black.ttf') format('truetype');
}

@font-face {
  font-family: 'DanaMobile';
  font-weight: 'bold';
  font-style: normal;
  src:
    local('DanaMobile'),
    url('/static/fonts/Dand/dana-bold.ttf') format('truetype');
}

@font-face {
  font-family: 'DanaMobile';
  font-weight: 'medium';
  font-style: normal;
  src:
    local('DanaMobile'),
    url('/static/fonts/Dand/dana-medium.ttf') format('truetype');
}

@font-face {
  font-family: 'DanaMobile';
  font-weight: 'light';
  font-style: normal;
  src:
    local('DanaMobile'),
    url('/static/fonts/Dand/dana-light.ttf') format('truetype');
}

@font-face {
  font-family: 'DanaMobile';
  font-weight: 'Ultrabold';
  font-style: normal;
  src:
    local('DanaMobile'),
    url('/static/fonts/Dand/dana-ultrabold.ttf') format('truetype');
}

@font-face {
  font-family: 'DanaMobile';
  font-weight: 'Extrabold';
  font-style: normal;
  src:
    local('DanaMobile'),
    url('/static/fonts/Dand/dana-extrabold.ttf') format('truetype');
}

@font-face {
  font-family: 'DanaMobile';
  font-weight: 'Demibold';
  font-style: normal;
  src:
    local('DanaMobile'),
    url('/static/fonts/Dand/dana-demibold.ttf') format('truetype');
}

/* =============================scroll */
/* Custom Scrollbar */
html {
  scrollbar-color: #888 #f1f1f1;
  scrollbar-width: thin;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
  /* height: 50px !important; */
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 2rem;
}
::-webkit-scrollbar {
  width: 8px;
  height: 5px;
}

/* ------------------------------------- loadin */
#gradient {
  /* "linear-gradient(169deg, #FFF 0.49%, #E2FFF3 99.47%) */
  background: linear-gradient(169deg, #e2fff3, #ffffff, #e2fff3);
  background-size: 200% 200%;
  -webkit-animation: Animation 2s ease infinite;
  -moz-animation: Animation 2s ease infinite;
  animation: Animation 2s ease infinite;
}

@-webkit-keyframes Animation {
  0% {
    background-position: 10% 0%;
  }
  50% {
    background-position: 90% 100%;
  }
  100% {
    background-position: 10% 0%;
  }
}
@-moz-keyframes Animation {
  0% {
    background-position: 10% 0%;
  }
  50% {
    background-position: 90% 100%;
  }
  100% {
    background-position: 10% 0%;
  }
}
@keyframes Animation {
  0% {
    background-position: 10% 0%;
  }
  50% {
    background-position: 90% 100%;
  }
  100% {
    background-position: 10% 0%;
  }
}

.css-y324hi-MuiButtonBase-root-MuiRadio-root.Mui-checked {
  color: #f5bb00 !important;
}
.accommodation-type-card:hover,
.residence-type-card {
  background-color: #f8f8f8;
  transition: background-color 150ms linear;
  -webkit-transition: background-color 150ms linear;
  -moz-transition: background-color 150ms linear;
  -ms-transition: background-color 150ms linear;
  -o-transition: background-color 150ms linear;
}
.residence-type-card {
  border: 3px solid #0cda7b !important;
  padding: -2px;
}
.residence-type-bg {
  background-color: #f8f8f8;
}
.accommodation-type-pic:hover,
.residence-type-pic {
  filter: brightness(120%);
  transition: filter 150ms linear;
  -webkit-transition: filter 150ms linear;
  -moz-transition: filter 150ms linear;
  -ms-transition: filter 150ms linear;
  -o-transition: filter 150ms linear;
}
