.customized-fileUploader {
  min-height: 200px;
  background-color: white;
  border: 2px dashed #d1d1d1;
  border-radius: 15px;
}

.customized-fileUploader .filepond--drop-label {
  background-color: white;
  border-radius: 14px 14px 0 0;
  height: 150px;
}
.customized-fileUploader .filepond--drop-label :first-child {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100% !important;
  height: 100%;
}
.customized-fileUploader .filepond--drop-label :first-child :first-child {
  width: 60% !important;
}
.customized-fileUploader .filepond--drop-label :first-child :first-child img {
  width: 40% !important;
}
.customized-fileUploader .filepond--credits {
  display: none !important;
}
